#### Q Conc  replace 100 to 10

In [26]:
L1 = [22,2,3,8,100,4,15,100]
L2 = [32,12,13,28,100,100,1,100]
L1[:0]=L2
L3=[]
for x in L1:
    if x ==100:
        L3.append(10)
    else:
        L3.append(x)
            
print(L3)

[32, 12, 13, 28, 10, 10, 1, 10, 22, 2, 3, 8, 10, 4, 15, 10]

In [27]:
#### Q Gendar by using data frame 
L1=['male','female','male','female','female','male','female','male','female','female','male','female']
L2=[1,       0,      1,      0,       1,      1,     0,       0,     1,       0,       1,      1]
Ans: ['male':4, 'female':3]
    Gender   Frequency
    female    3
    male      4

In [31]:
L1=['male','female','male','female','female','male','female','male','female','female','male','female']
L2=[1,0,1,0,1,1,0,0,1,0,1,1]

import pandas as pd 
  
# intialise data of lists. 
data = {'Gender':L1, 
        'Frequency':L2} 
  
# Create DataFrame 
df = pd.DataFrame(data) 
df.groupby(['Gender']).sum()

        Frequency
Gender
female          3
male            4

#### Q F1 score
given rec=0.1, pre=0.6
Ans 0.17

In [35]:
# As we know F1=(2*r*p)/(r+p)
r=float(input())
p=float(input())
numer=2*r*p
denum=r+p
f1=round(numer/denum,2)
print(f1)

0.1
0.6
0.17

#### Q sort by date
 
- dt={"pv1":"01/10/2002","pv2":"25/10/2000","pv3":"01/05/2006","pv4":"10/05/2010","pv5":"01/11/2004","pv6":"26/12/2018"}

- Ans  ['pv6','pv4','pv3','pv5','pv1','pv2']

In [37]:
dt={"pv1":"01/10/2002","pv2":"25/10/2000","pv3":"01/05/2006","pv4":"10/05/2010","pv5":"01/11/2004","pv6":"26/12/2018"}
[k for k, v in sorted(dt.items(), key=lambda p: p[1], reverse=True)]

['pv6', 'pv2', 'pv4', 'pv5', 'pv1', 'pv3']